.button
{
   -fx-background-color:  #05071f;
}
.button:hover{
    -fx-background-color: linear-gradient(from 0% 25% to 100% 100%, rgba(3, 91, 172, 0.5), #210823);
}
.button:pressed{
    -fx-background-color: linear-gradient(from 0% 25% to 100% 100%, #171763, #17395e);
}
.scroll-pane {
    -fx-background-color: #02030A;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color:  #0e1125;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: black;
}

.txt{
    -fx-background-color:  #02030A;
    -fx-border-color: #919191;
    -fx-background-radius: 5em;
    -fx-border-radius: 5em;
    -fx-padding: 2;
    -fx-text-alignment: center;
    -fx-text-fill: linear-gradient(from 0% 25% to 100% 100%, #428de3, #41e8ad);
}

.btnWin{
    -fx-background-color:  #02030A;
    -fx-border-color: #919191;
    -fx-background-radius: 5em;
    -fx-border-radius: 5em;
}
.btnWin:hover{
    -fx-background-color: #10165F;
}
.btnWin:pressed{
    -fx-background-color: #1620A1;
}
.pane{
    -fx-background-color: #02030A;
}
.text2 {
   // -fx-text-fill: linear-gradient(from 0% 25% to 100% 100%, #428de3, #41e8ad);
    -fx-text-fill: linear-gradient(from 0% 25% to 100% 100%, #4f4feb, #82dcdc);
}
.darkButton{
    -fx-font: 16px "System";
    -fx-padding: 8;
    -fx-background-color: #46d9f3;
    -fx-background-color: linear-gradient(from 0% 25% to 100% 100%, #035bac, #67c4e3);
    -fx-background-radius: 5em;
    -fx-border-radius: 5em;
    -fx-border-color:transparent;
    -fx-text-fill: #000000;
}

.darkButton:hover{
    -fx-background-color: linear-gradient(from 30% 25% to 100% 100%, #035bac, #67c4e3);

}
.lightButton{
    -fx-font: 16px "System";
    //-fx-padding: 8;
    //-fx-background-color: #46d9f3;
    -fx-background-color: linear-gradient(from 0% 25% to 100% 100%, #4f4feb, #82dcdc);;
    -fx-background-radius: 5em;
    -fx-border-radius: 5em;
    -fx-border-color:transparent;
    -fx-text-alignment: center;
    -fx-text-fill: #000000;
}

.lightButton:hover{
    -fx-background-color: linear-gradient(from 30% 25% to 100% 100%, #4f4feb, #82dcdc);
}
.buttonMenu
{
    -fx-background-color:  #05071f;
    -fx-text-fill: linear-gradient(from 0% 25% to 100% 100%, #4f4feb, #82dcdc);
}
.buttonMenu:hover{
    -fx-font: 24px "System";
    -fx-background-color: linear-gradient(from 0% 25% to 100% 100%, rgba(3, 91, 172, 0.5), #210823);
}
.buttonMenu:pressed{
    -fx-background-color: linear-gradient(from 0% 25% to 100% 100%, #171763, #17395e);
}
.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  #02030A;}
.table-view .column-header .label{
    -fx-text-fill: linear-gradient(from 0% 25% to 100% 100%, #4f4feb, #82dcdc);
    -fx-font-weight: bold;
    -fx-font: 24px "System";
    -fx-alignment: CENTER;
}
.table-view .table-cell{
    -fx-background-color: #02030A;
    -fx-font: 18px "System";
    -fx-border-color:  #0e1125;
    -fx-text-fill: linear-gradient(from 0% 25% to 100% 100%, #4f4feb, #82dcdc);
    -fx-alignment: center;
}
.table-row-cell:hover {
    -fx-background-color: linear-gradient(from 0% 25% to 100% 100%, rgba(3, 91, 172, 0.5), #210823);
    -fx-text-background-color: #ffffff;
}
.table-view{
    -fx-background-color: #02030A;
}
.table-row-cell:empty {
    -fx-background-color: #02030A;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}
.table-row-cell {
    -fx-cell-size: 50px;
}
